<?xml version="1.0" encoding="UTF-8" ?>
<victms>
<tilemap 
  name="italia3d-v5-global-geodetic"
  profile="global-geodetic"
  mime-type="image/jpeg"
  extension="jpg"
  max-level="26"
/>
<tilemap 
  name="blue-marble-global-geodetic"
  profile="global-geodetic"
  mime-type="image/jpeg"
  extension="jpg"
  max-level="26"
/>
<tilemap 
  name="gallura2008-v1-global-geodetic"
  profile="global-geodetic"
  mime-type="image/jpeg"
  extension="jpg"
  max-level="26"
/>
</victms>
